<div class="container">

  <h1><%= @article.title %></h1>

  <!--<div class="field">-->
    <!--<h3>Portada:</h3>-->
    <!--%= image_tag @article.cover.url %-->
  <!--</div>-->

  <div class="field">
    <%= Sanitize.fragment( @article.body, Sanitize::Config::RELAXED ).html_safe %>
  </div>

  <div class="field">
    <p>
      <label>Nº visitas:</label> <%= @article.visits_count %>
    </p>
    <% unless @article.user.nil? %>
      <p>
        <label>Escrito por:</label> <%= @article.user.email  %>
      </p>
    <% end %>
  </div>

  <div class="field">
    <h3>Categorias:</h3>
    <% @article.categories.each do |category| %>
        <%= link_to category.name, category, style:"color:#{category.color};" %>
    <% end %>
  </div>

  <div class="field">
    <h3>Comentarios:</h3>

    <%= render 'comments/form' %>

    <ul id="comments-box">
    <% @article.comments.each do |comment| %>
        <fieldset>
          <li>
            <%= comment.body %><br>
            <hr>
            <label>Escrito por:</label> <%= comment.user.email %>
          </li>
        </fieldset>
    <% end %>
    </ul>
  </div>

  <%= link_to "Atras", articles_path, class:"blue" %>

</div>