<header>
  <nav class="be-blue white large-padding">
    <ul class="row center-xs around-xs middle-xs">﻿
      <li class="col-md">
        <h1 class="no-margin" id="logo "><%= link_to 'Blog Rev', root_path, class:"white" %></h1>
      </li>
      <li class="col-md">
        <b><%= link_to 'Articulos', articles_path, class:"white" %></b>
      </li>
      <% @categories.each do |category| %>
          <li class="col-md">
            <b><%= link_to category.name, category %></b>
          </li>
      <% end %>
      <% if user_signed_in?%>
          <li class="col-md">
            <b><%= link_to "Cerrar sesión", destroy_user_session_path, method: :delete, class:"white" %></b>
          </li>
      <% else %>
          <li class="col-md">
            <b><%= link_to "Iniciar sesión", new_user_session_path, class:"white" %></b>
          </li>
          <li class="col-md">
            <b><%= link_to "Crear usuario", new_user_registration_path, class:"white" %></b>
          </li>
      <% end %>
    </ul>
  </nav>
</header>